mat-card {
  margin: 1em;
}

/* .task-record-form {
  width: 20em;
} */

.task-full-width {
  width: 100%;
}

.top-padding {
    padding-top: 1em;
}

/* .small-padding {
    padding-top: 1em;
} */

#first {
    padding-right: 1em;
}

#second {
    padding-left: 1em;
} 