<div class="center-element">
  <mat-card>
    <mat-card-header>
      <mat-card-title id="title">Sign in</mat-card-title>
    </mat-card-header>
    <form (submit)="CheckUser(inputID)">
      <mat-card-content>     
          <mat-input-container class="full-width">
            <input matInput placeholder="ID" [(ngModel)]="inputID" name="id" [formControl]="idFormControl">
            <mat-error *ngIf="idFormControl.hasError('required')">
              ID is required
            </mat-error>
          </mat-input-container><br>
          <mat-input-container class="full-width">
            <input type="password" matInput placeholder="Password" [formControl]="passwordFormControl" [(ngModel)]="inputPassword" name="password">
            <mat-error *ngIf="passwordFormControl.hasError('required')">
              password is required
            </mat-error>
          </mat-input-container>     
      </mat-card-content>
      <div class="center" id="text-color">
        <button mat-button>Login</button>
      </div>
    </form>
  </mat-card>
</div>
