:host {
    /* flex-grow: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-card {
    /* position:relative; */
    margin-top:20%;
    margin-bottom: 100%;
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 4em;
}