<!-- <mat-accordion>
  <mat-expansion-panel [expanded]="added" (opened)="set()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Add New Fund
      </mat-panel-title>
      <mat-panel-description>
        Type name, abbrev name and select company
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field fxFlex="40%">
      <input matInput [(ngModel)]="portfolio_name" placeholder="Name">
    </mat-form-field>
    <mat-form-field fxFlex="10%">
      <input matInput [(ngModel)]="abbrev_name" placeholder="Abbrev Name">
    </mat-form-field>
    <mat-form-field fxFlex="50%">
      <mat-select placeholder="Company" [(ngModel)]="selectedCompany">
        <mat-option *ngFor="let company of companies" [value]="company.companyID">
          {{ company.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-icon-button color="primary" (click)="addNewFund()"><mat-icon>add</mat-icon></button>
  </mat-expansion-panel>
</mat-accordion>
<mat-card>
  <mat-card-content fxFlex="100%">
    <mat-list dense fxFlex="25%">
      <mat-list-item><strong>Name</strong></mat-list-item>
      <mat-list-item *ngFor="let portfolio of portfolios">{{portfolio.portfolioName}}</mat-list-item>
    </mat-list>
    <mat-list dense>
      <mat-list-item><strong>Abbrev Name</strong></mat-list-item>
      <mat-list-item *ngFor="let portfolio of portfolios">{{portfolio.abbrevName}}</mat-list-item>
    </mat-list>
    <mat-list dense fxFlex="40%">
      <mat-list-item><strong>Company</strong></mat-list-item>
      <mat-list-item *ngFor="let portfolio of portfolios">{{portfolio.company}}</mat-list-item>
    </mat-list>
    <mat-list dense>
      <mat-list-item><strong>Signer</strong></mat-list-item>
      <mat-list-item *ngFor="let portfolio of portfolios">{{portfolio.name}}</mat-list-item>
    </mat-list>
    <mat-list dense>
      <mat-list-item><strong>Title</strong></mat-list-item>
      <mat-list-item *ngFor="let portfolio of portfolios">{{portfolio.title}}</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card> -->
<mat-card>
  <mat-card-content>
    <dx-data-grid 
      id="gridContainer"
      [dataSource]="portfolios"
      keyExpr="fundID"
      [allowColumnReordering]="true"
      (onEditingStart)="logEvent('EditingStart')"
      (onInitNewRow)="logEvent('InitNewRow')"
      (onRowInserting)="rowInsert($event)"
      (onRowInserted)="logEvent('RowInserted')"
      (onRowUpdating)="rowUpdate($event)"
      (onRowUpdated)="logEvent('RowUpdated')"
      (onRowRemoving)="rowRemove($event)"
      (onRowRemoved)="logEvent('RowRemoved')">
    
      <dxo-paging [enabled]="true"></dxo-paging>
      <dxo-editing 
          mode="row"
          [allowUpdating]="true"
          [allowDeleting]="true"
          [allowAdding]="true">
      </dxo-editing>
      
      <dxi-column dataField="fundName" caption="Fund Name"></dxi-column>
      <dxi-column dataField="abbrevName" [width]="130"></dxi-column>  
      <dxi-column dataField="company" caption="Company"></dxi-column>
      <dxi-column dataField="signer" [width]="130"></dxi-column>
      <dxi-column dataField="title" [width]="130"></dxi-column>
    </dx-data-grid>
  </mat-card-content>
</mat-card>


