<mat-form-field floatPlaceholder="never">
  <input matInput #filter placeholder="Search">
</mat-form-field>
<button style="float: right;" mat-button matTooltip="Export to Excel" matTooltipPosition="below" (click)="exportExcel()">
  <i class="material-icons" style ="font-size:24px">get_app</i>
</button>
<button style="float: right;" mat-button matTooltip="Columns" matTooltipPosition="below" (click)="selectColumns()">
    <i class="material-icons" style ="font-size:24px">view_column</i>
</button>

<ng-template #loading>
  <div class="center-element">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
<mat-table #table [dataSource]="dataSource" matSort>
    <div *ngFor = "let col of cols">
      <ng-container [cdkColumnDef] ="col.attribute">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header> {{col.header}} </mat-header-cell>
        <mat-cell *cdkCellDef="let row"> 
          <span *ngIf ="!col.date">{{ row[col.attribute] }}</span> 
          <span *ngIf ="col.date"> {{ row[col.attribute] | date: 'MM/dd/yyyy' }}</span>
        </mat-cell>
      </ng-container>
    </div>
  <!-- <ng-container cdkColumnDef ="removable" *ngIf = "removable">
    <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
    <mat-cell *cdkCellDef="let row"></mat-cell>
    <mat-cell class="remove-button" *cdkCellDef="let row"><button mat-icon-button (click)="removeRow(row)"><i class="material-icons mat-light" matTooltip="Delete Entry" matTooltipPosition="above">remove_circle</i></button></mat-cell>
  </ng-container>		 -->
  <mat-header-row style="height:2.7em" *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row style="height:4em" *cdkRowDef="let row; columns: displayedColumns; let index = index; let isOdd= odd;" 
      (mouseenter) = "hoverRow(index)" (click)="updateRow(row)" [class.mat-elevation-z24]="index == hoveredRow" [class.odd] = "isOdd"></mat-row>
</mat-table>
