mat-card {
    margin: 0;
    padding: 0;
}

mat-raised-button {
    margin: 1em;
    background-color: #26A69A;
    color: white;
}
.full-width {
    width: 90%;
}

.rap-table {
    padding-top: 1em;
}

.filter {
    margin:1em;
    padding-top: 1em;
}

 #top-padding {
    margin: 1.5em;
} 