<mat-card class="filter">
  <mat-card-content>
    <div class="container"
        fxLayout
        fxLayout.xs="column"
        fxFlexFill>    
      <mat-form-field fxFlex="15%" class="full-width">
        <mat-select multiple placeholder="Department" [(ngModel)]="selectedDepartment" 
                   (ngModelChange)="getFilteredTask()" name="department">
          <mat-option *ngFor="let department of departments" [value]="department.departmentID">
            {{department.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="15%" class="full-width">
        <mat-select multiple placeholder="Category" [(ngModel)]="selectedCategory" 
                   (ngModelChange)="getFilteredTask()" name="category">
          <mat-option *ngFor="let category of categories" [value]="category.categoryID">
            {{category.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="15%" class="full-width">     
        <mat-select multiple placeholder="Frequency" [(ngModel)]="selectedFrequency"
                   (ngModelChange)="getFilteredTask()" name="frequency">
          <mat-option *ngFor="let frequency of frequencies" [value]="frequency.frequencyID">
            {{frequency.period}}
          </mat-option>
        </mat-select>       
      </mat-form-field>
      <mat-form-field fxFlex="15%" class="full-width">
        <mat-select multiple placeholder="State" [(ngModel)]="selectedStatus" 
                   (ngModelChange)="getFilteredTask()" name="status">
          <mat-option *ngFor="let status of statuses" [value]="status.statusID">
            {{status.status}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div fxFlex="50%">
        <div id="first" fxFlex="50%"> 
          <mat-form-field style="width:100%">
            <input matInput [matDatepicker]="fromDate" placeholder="From" [(ngModel)]="selectedFromDate" 
                   (ngModelChange)="getFilteredTask()" name="fromDate">
            <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
            <mat-datepicker #fromDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div id="second" fxFlex="50%"> 
          <mat-input-container style="width:100%">
            <input matInput [matDatepicker]="toDate" placeholder="To" [(ngModel)]="selectedToDate" 
                   (ngModelChange)="getFilteredTask()" name="toDate">
            <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
            <mat-datepicker #toDate></mat-datepicker>
          </mat-input-container>
        </div>
        <button mat-button color="primary" (click)="clearSelections()">Clear</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="rap-table"> 
  <mat-card-content>
    <rap-table [data]="taskData" [cols]="columnSettings" [selectedCols]="selectedColumns" (onUpdate)="showTask($event)" (onSave)="showColumns($event)">
    </rap-table> 
  </mat-card-content>
</mat-card>