 /* @import "~@angular/material/prebuilt-themes/indigo-pink.css";  */
 body {
     font-family: Arial, Helvetica, sans-serif;
 }

 .button-right {
     float: right;
 }

 .button-text {
    color: teal;
 }

 .button-right.button-text {
     float: right;
     color: teal;
 }