<md-card class="filter">
  <md-card-content>
    <div class="container"
        fxLayout
        fxLayout.xs="column"
        fxFlexFill>    
      <div fxFlex="20%" id="top-padding">
        <md-select class="full-width" multiple placeholder="Department" [(ngModel)]="selectedDepartment" 
                   (ngModelChange)="getFilteredTask()" name="department">
          <md-option *ngFor="let department of departments" [value]="department.departmentID">
            {{department.name}}
          </md-option>
        </md-select>
      </div>
      <div fxFlex="20%" id="top-padding">
        <md-select class="full-width" multiple placeholder="Category" [(ngModel)]="selectedCategory" 
                   (ngModelChange)="getFilteredTask()" name="category">
          <md-option *ngFor="let category of categories" [value]="category.categoryID">
            {{category.name}}
          </md-option>
        </md-select>
      </div>
      <div fxFlex="15%" id="top-padding">     
        <md-select class="full-width" multiple placeholder="Frequency" [(ngModel)]="selectedFrequency"
                   (ngModelChange)="getFilteredTask()" name="frequency">
          <md-option *ngFor="let frequency of frequencies" [value]="frequency.frequencyID">
            {{frequency.period}}
          </md-option>
        </md-select>       
      </div>
      <div fxFlex="15%" id="top-padding">
        <md-select class="full-width" multiple placeholder="Status" [(ngModel)]="selectedStatus" 
                   (ngModelChange)="getFilteredTask()" name="status">
          <md-option *ngFor="let status of statuses" [value]="status.statusID">
            {{status.status}}
          </md-option>
        </md-select>
      </div>
      <div fxFlex="20%" style="padding-top:0.5em; padding-right:1em;">
        <md-input-container class="full-width">
            <input mdInput placeholder="Name" [mdAutocomplete]="auto" [formControl]="userCtrl" 
             [(ngModel)]="selectedUser" (ngModelChange)="checkUserId()">
        </md-input-container>
        <md-autocomplete #auto="mdAutocomplete" [displayWith]="displayFn">
            <md-option *ngFor="let user of filteredUsers | async" [value]="user">
            {{user.firstName}} {{user.lastName}}
            </md-option>
        </md-autocomplete>
      </div>
      <!-- <div fxFlex="20%" id="top-padding">
         <md-checkbox color="primary" [(ngModel)]="checkOwner" (ngModelChange)="getFilteredTask()">Owner</md-checkbox>
        <md-checkbox color="primary" [(ngModel)]="checkPerformer" (ngModelChange)="getFilteredTask()">Performer</md-checkbox> 
      </div> -->
      <div fxFlex="5%" style="padding-top:1em">
        <button style="float:right; color: #26A69A;" md-button (click)="clearSelections()">Clear</button>
      </div>
    </div>
  </md-card-content>
</md-card>

<ng-template #customCellTemplate let-day="day" let-locale="locale">
    <div>
    <span class="cal-day-number" style="margin:0; padding:0">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    </div>
    <md-nav-list dense>
        <a md-list-item style="height:auto;" *ngFor="let event of day.events" mdTooltip="{{event.meta.task.description}}"
            [mdTooltipPosition]="position" (click)="showTask(event)">
            <md-icon *ngIf="event.meta.task.categoryId===1">perm_phone_msg</md-icon>
            <md-icon *ngIf="event.meta.task.categoryId===2">work</md-icon>
            <md-icon *ngIf="event.meta.task.categoryId===3">group</md-icon>
            <md-icon *ngIf="event.meta.task.categoryId===4">equalizer</md-icon>
            <md-icon *ngIf="event.meta.task.categoryId===5">attach_money</md-icon>
            <md-icon *ngIf="event.meta.task.categoryId===6">attach_money</md-icon>
            <md-icon *ngIf="event.meta.task.categoryId===7">assignment_turned_in</md-icon>
            <md-icon *ngIf="event.meta.task.categoryId===8">forum</md-icon>
            <md-icon *ngIf="event.meta.task.categoryId===9">slideshow</md-icon>
            <md-icon *ngIf="event.meta.task.categoryId===10">playlist_add_check</md-icon>
            <span style="padding-left:0.5em">{{ event.title }}</span> 
        </a>
    </md-nav-list> 
</ng-template>

<ng-template #loading>
  <div class="text-center">
    <i class="fa fa-spin fa-spinner fa-5x"></i>
    <br>
    Loading tasks...
  </div>
</ng-template>

<md-card>
  <md-card-content>
    <div class="container"
        fxLayout
        fxLayout.xs="column"
        fxLayoutAlign="center"
        fxFlexFill>
      <div fxFlex=25%>
      </div>
      <div fxFlex="50%" fxLayoutAlign="center">
        <h4>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h4>
      </div>  
      <div fxFlex="25%" fxLayoutAlign="center">
        <span mdTooltip="Previous">
            <button md-button
            mwlCalendarPreviousView
            [view]="view"
            [(viewDate)]="viewDate">
            <md-icon>navigate_before</md-icon>
            </button>
        </span>
        <span mdTooltip="Today">
            <button md-button
            mwlCalendarToday
            [(viewDate)]="viewDate">
            <md-icon>today</md-icon>
            </button>
        </span>
        <span mdTooltip="Next">
            <button md-button
            mwlCalendarNextView
            [view]="view"
            [(viewDate)]="viewDate">
            <md-icon>navigate_next</md-icon>
            </button>
        </span>
      </div>
    </div>
    <div *ngIf="events$ | async; else loading; let events">
        <mwl-calendar-month-view
            [@.disabled]="true"
            [viewDate]="viewDate"
            [events]="events"
            [cellTemplate]="customCellTemplate">
        </mwl-calendar-month-view>
    </div>
  </md-card-content>
</md-card>

<!-- 
[cellTemplate]="customCellTemplate"
[activeDayIsOpen]="activeDayIsOpen"
(dayClicked)="dayClicked($event.day)"
(eventClicked)="handleEvent('Clicked', $event.event)" 
-->
