<mat-card class="filter">
  <mat-card-content>
    <div class="container"
        fxLayout
        fxLayout.xs="column"
        fxFlexFill>    
      <mat-form-field fxFlex="20%">
        <mat-select class="full-width" multiple placeholder="Department" [(ngModel)]="selectedDepartment" 
                   (ngModelChange)="getFilteredTask()" name="department">
          <mat-option *ngFor="let department of departments" [value]="department.departmentID">
            {{department.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="20%">
        <mat-select class="full-width" multiple placeholder="Category" [(ngModel)]="selectedCategory" 
                   (ngModelChange)="getFilteredTask()" name="category">
          <mat-option *ngFor="let category of categories" [value]="category.categoryID">
            {{category.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="20%">     
        <mat-select class="full-width" multiple placeholder="Frequency" [(ngModel)]="selectedFrequency"
                   (ngModelChange)="getFilteredTask()" name="frequency">
          <mat-option *ngFor="let frequency of frequencies" [value]="frequency.frequencyID">
            {{frequency.period}}
          </mat-option>
        </mat-select>       
      </mat-form-field>
      <mat-form-field fxFlex="20%">
        <mat-select class="full-width" multiple placeholder="Status" [(ngModel)]="selectedStatus" 
                   (ngModelChange)="getFilteredTask()" name="status">
          <mat-option *ngFor="let status of statuses" [value]="status.statusID">
            {{status.status}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="20%">
            <input matInput placeholder="Name" [matAutocomplete]="auto" [formControl]="userCtrl" 
             [(ngModel)]="selectedUser" (ngModelChange)="checkUserId()">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
            {{user.firstName}} {{user.lastName}}
            </mat-option>
        </mat-autocomplete>
      </mat-form-field>
        <button style="float:right" mat-button color="primary" (click)="clearSelections()">Clear</button>
    </div>
  </mat-card-content>
</mat-card>

<ng-template #customCellTemplate let-day="day" let-locale="locale">
    <div>
    <span class="cal-day-number" style="margin:0; padding:0">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    </div>
    <mat-nav-list dense>
        <a mat-list-item style="height:auto;" *ngFor="let event of day.events" [style.color]="event.meta.task.color" matTooltip="{{event.meta.task.description}}"
            [matTooltipPosition]="position" (click)="showTask(event)">
            <mat-icon *ngIf="event.meta.task.icon">{{ event.meta.task.icon }}</mat-icon>
            <img *ngIf="event.meta.task.img" src="{{event.meta.task.img}}" height="20">
            <span style="padding-left:0.5em"><div class="long-text">{{ event.title }}</div></span> 
        </a>
    </mat-nav-list> 
</ng-template>

<ng-template #loading>
  <div class="center-element">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<mat-card>
  <mat-card-content>
    <div class="container"
        fxLayout
        fxLayout.xs="column"
        fxLayoutAlign="center"
        fxFlexFill>
      <div fxFlex=25%>
        <button mat-button (click)="view = 'week'">Week</button>
        <span>|</span>
        <button mat-button (click)="view = 'month'">Month</button>
      </div>
      <div fxFlex="50%" fxLayoutAlign="center">
        <h4>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h4>
      </div>  
      <div fxFlex="25%" fxLayoutAlign="center">
        <span matTooltip="Previous">
            <button mat-button
            mwlCalendarPreviousView
            [view]="view"
            [(viewDate)]="viewDate">
            <mat-icon>navigate_before</mat-icon>
            </button>
        </span>
        <span matTooltip="Today">
            <button mat-button
            mwlCalendarToday
            [(viewDate)]="viewDate">
            <mat-icon>today</mat-icon>
            </button>
        </span>
        <span matTooltip="Next">
            <button mat-button
            mwlCalendarNextView
            [view]="view"
            [(viewDate)]="viewDate">
            <mat-icon>navigate_next</mat-icon>
            </button>
        </span>
      </div>
    </div>
    <div *ngIf="events$ | async; else loading; let events">
      <div [ngSwitch]="view">
        <mwl-calendar-month-view
          *ngSwitchCase="'month'"
          [@.disabled]="true"
          [viewDate]="viewDate"
          [events]="events"
          [cellTemplate]="customCellTemplate">
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
          *ngSwitchCase="'week'"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (eventClicked)="showTask($event.event)">
        </mwl-calendar-week-view>
      </div>
    </div>
  </mat-card-content>
</mat-card>
